{
  "env": {
    "test": {
      "presets": [
        "@babel/env",
        "@babel/react"
      ],
      "plugins": [
        "@babel/transform-runtime",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-jsx"
      ]
    }
  }
}
